.box {
  margin-bottom: 30px;
  position: relative;
}
.box label {
  left: 6px;
  top: 14px;
  position: absolute;
  opacity: 1;
  transition-property: top;
  transition: 0.3s;
  padding: 2px 10px;
  color: rgba(0, 0, 0, 0.5);
}
.box .input-valid {
  border: 1px solid var(--color-red);
}
.box input {
  width: 100%;
  outline-style: none;
  border-style: none;
  border: 1px solid var(--color-green);
  padding: 15px;
  caret-color: var(--color-green);
  border-radius: 2px;
  transition: all 0.3s;
  /* 聚焦后 */
  /* 有内容失去焦点 */
}
.box input ::placeholder {
  opacity: 0;
}
.box input:focus {
  border-width: 2px;
  border-color: var(--color-green);
  border-radius: 10px;
}
.box input:focus + label {
  transform: scale(0.9);
  top: -14px;
  background-color: #ffffff;
}
.box input:not(:placeholder-shown) + label {
  transform: scale(0.9);
  top: -14px;
  background-color: #ffffff;
}
.box span {
  padding-left: 10px;
  display: block;
  color: var(--color-red);
}
.box i {
  position: absolute;
  right: 20px;
  top: 15px;
}
.box .green {
  color: var(--color-green);
}
.box .red {
  color: var(--color-red);
}
