@font-face {
  font-family: "iconfont"; /* Project id 4073515 */
  src: url('//at.alicdn.com/t/c/font_4073515_nzqg3i0nn.woff2?t=1684329535122') format('woff2'),
       url('//at.alicdn.com/t/c/font_4073515_nzqg3i0nn.woff?t=1684329535122') format('woff'),
       url('//at.alicdn.com/t/c/font_4073515_nzqg3i0nn.ttf?t=1684329535122') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-luyingcamping1:before {
  content: "\e639";
}

.icon-Desert:before {
  content: "\e6f7";
}

.icon-Snowflake:before {
  content: "\e6d2";
}

.icon-beach-parasol-water-:before {
  content: "\e698";
}

.icon-xianxinghaidao:before {
  content: "\e61f";
}

.icon-building-modern-1:before {
  content: "\e699";
}

.icon-diaoyu:before {
  content: "\e650";
}

.icon-suoshuxiangcun:before {
  content: "\ea06";
}

.icon-huaxue:before {
  content: "\e61c";
}

.icon-pool:before {
  content: "\e61e";
}