.box * {
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}
.box P {
  font-size: 0.9rem;
}
.count {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.count .svg {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.2s;
  /* 火狐 */
  -moz-user-select: none;
  /* Safari 和 欧朋 */
  -webkit-user-select: none;
  /* IE10+ and Edge */
  -ms-user-select: none;
  /* Standard syntax 标准语法(谷歌) */
  user-select: none;
}
.count .svg:hover {
  opacity: 1;
  transform: scale(1.1);
}
