:root {
  --color-green: #14d05b;
  --color-red: #ef551e;
  --img-width: 25vmin;
}
* {
  /* border: 1px solid black; */
  padding: 0;
  margin: 0;
}
*::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(220, 217, 217, 0.1) !important;
  border-radius: 10px !important;
  background-color: #F5F5F5 !important;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  background-color: rgba(20, 208, 91, 0.5) !important;
}
@media screen and (max-width: 1000px) {
  :root {
    --img-width: 40vmin;
  }
}
@media screen and (max-width: 500px) {
  :root {
    --img-width: 84vmin;
  }
}
.house-list {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--img-width));
  grid-gap: 2vmin;
  /* grid-template-rows: auto; */
  justify-content: space-between;
}
.ant-modal-confirm-content {
  width: 100%;
}
.imgBox {
  border-radius: 15px;
  position: relative;
  height: 50vmin;
  overflow: hidden;
  margin-bottom: 50px;
}
.imgBox .imgParent {
  height: 50vmin;
}
.imgBox img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
p,
span {
  color: gray;
  font-size: 0.9rem;
}
b {
  margin-bottom: 20px;
}
.space {
  display: flex;
  align-content: center;
}
.space h2 {
  padding-right: 10px !important;
}
.calendarBox {
  margin-bottom: 20px;
  width: 100%;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  height: fit-content;
  overflow: auto;
}
.calendarBox h1 {
  margin-bottom: 0;
}
.calendarBox .price {
  display: flex;
  justify-content: space-between;
}
