@media screen and (max-width: 400px) {
  .header span {
    font-size: 0.8rem;
  }
}
.calendar i {
  font-style: normal;
  width: 100%;
  display: block;
}
.calendar .disabled {
  pointer-events: auto;
  cursor: not-allowed;
}
.calendar .focus {
  color: white;
  background-color: rgba(239, 85, 30, 0.7);
  transition: 0.5s;
  font-weight: bold;
}
.calendar .only {
  color: white;
  background-color: rgba(239, 85, 30, 0.7);
  transition: 0.5s;
  font-weight: bold;
  border-radius: 10px;
}
.calendar .first {
  color: white;
  background-color: rgba(239, 85, 30, 0.7);
  transition: 0.5s;
  font-weight: bold;
  border-radius: 10px 0 0 10px;
}
.calendar .last {
  color: white;
  background-color: rgba(239, 85, 30, 0.7);
  transition: 0.5s;
  font-weight: bold;
  border-radius: 0 10px 10px 0;
}
.header {
  overflow: auto;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header .point {
  transform: scaleX(2);
}
.selectBox {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  align-items: center;
}
