.calendar i {
  font-style: normal;
  width: 100%;
  display: block;
}
.calendar .focus {
  color: white;
  background-color: rgba(239, 85, 30, 0.7);
  transition: 0.5s;
  font-weight: bold;
}
.calendar .only {
  border-radius: 10px;
}
.calendar .first {
  border-radius: 10px 0 0 10px;
}
.calendar .last {
  border-radius: 0 10px 10px 0;
}
