.des {
  text-align: right;
  height: 20px;
}
.des b {
  cursor: pointer;
  opacity: 0.9;
  transition: all 0.1s;
}
.des b:hover {
  opacity: 1;
  transition: all 0.1s;
  display: inline-block;
  transform: scale(1.1);
}
.githubIcon {
  display: block;
  position: absolute;
  bottom: 2vmin;
  left: 2vmin;
}
.githubIcon:hover {
  cursor: pointer;
}
