.des{
	text-align: right;
	b{
		cursor: pointer;
		opacity: .9;
		transition: all .1s;
		&:hover{
			opacity: 1;transition: all .1s;
			transform: scale(1.5);
		}
	}
}
.des .a:hover{
	display: inline-block;
	transform: scale(1.1);
}