.des {
  text-align: right;
  height: 20px;
}
.des b {
  cursor: pointer;
  opacity: 0.9;
  transition: all 0.1s;
}
.des b:hover {
  opacity: 1;
  transition: all 0.1s;
  display: inline-block;
  transform: scale(1.1);
}
