.des {
	text-align: right;
	height: 20px;

	b {
		cursor: pointer;
		opacity: .9;
		transition: all .1s;

		&:hover {
			opacity: 1;
			transition: all .1s;
			display: inline-block;
			transform: scale(1.1);
		}
	}
}