@red: #ef551e;
@borderRadius: 15px;
@borderColor: rgba(0, 0, 0, 0.1);
@green: #14d05b;

:root {
	--color-green: @green;
	--color-red: @red;
}

* {
	/* border: 1px solid black; */
	padding: 0;
	margin: 0;

	&::-webkit-scrollbar {
		& {
			width: 10px !important;
			height: 10px !important;
		}

		&-track {
			-webkit-box-shadow: inset 0 0 6px rgba(220, 217, 217, 0.1) !important;
			border-radius: 10px !important;
			background-color: #F5F5F5 !important;
		}

		&-thumb {
			border-radius: 10px !important;
			background-color: rgba(@green, .5) !important;
		}
	}
}

.house-list {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, 25vmin);
	grid-gap: 2vmin;
	/* grid-template-rows: auto; */
	justify-content: space-between;
}

.ant-modal-confirm-content {
	width: 100%;
}

/* .a {
	display: inline-block;
	text-align: center;
	width: 100%;
} */