.house-item {
  margin-bottom: 10px;
  position: relative;
  width: 25vmin;
  text-align: left;
  /* margin: 10px; */
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}
.house-item b,
.house-item p,
.house-item div {
  margin: 2px 0;
  padding: 1px;
}
.house-item p {
  padding: 3px 0;
  font-size: 0.9rem;
  opacity: 0.7;
}
.house-item .price {
  margin: 0;
  margin-left: -3px;
  padding: 0;
}
.house-item .imgBox {
  width: 25vmin;
  height: 25vmin;
  border-radius: 15px;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.house-item .imgBox .imgAnt {
  margin: 1% auto;
  padding: 0;
  width: 98%;
  overflow: hidden;
  height: 98%;
  border-radius: 10px;
  transition: 0.2s;
}
.house-item .imgBox .imgAnt .img {
  width: 100%;
  border-radius: 10px;
}
.house-item .imgBox .imgAnt:hover {
  transform: scale(1.1);
}
.house-item .heart {
  transition: 0.2s;
  width: 3vmin;
  height: 3vmin;
  max-width: 15px;
  max-height: 15px;
  top: 2vmin;
  right: 3vmin;
}
.house-item .heart:hover {
  transform: scale(1.1);
}
