.house-item {
  position: relative;
  width: 200px;
  text-align: left;
  /* margin: 10px; */
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}
.house-item b,
.house-item p,
.house-item div {
  margin: 2px 0;
  padding: 5px;
}
.house-item p {
  opacity: 0.6;
}
.house-item .price {
  margin: 0;
  margin-left: -3px;
  padding: 0;
}
.house-item .imgBox {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.house-item .imgBox .imgAnt {
  margin: 2.5% auto;
  padding: 0;
  width: 95%;
  overflow: hidden;
  height: 95%;
  border-radius: 10px;
  transition: 0.2s;
}
.house-item .imgBox .imgAnt .img {
  width: 100%;
  border-radius: 10px;
}
.house-item .imgBox .imgAnt:hover {
  transform: scale(1.1);
}
.house-item .heart {
  transition: 0.2s;
  width: 15px;
  height: 15px;
  margin-right: 10%;
  margin-top: 10%;
  top: 0;
  right: 0;
}
.house-item .heart:hover {
  transform: scale(1.1);
}
